/* 전체 감싸는 틀 */
.wrapper { 
	width: 1280px;
	height: auto;
	margin: 0 auto;
}
/* link, visited, hover 순서대로 놔둘 것. 순서 바꾸면 제대로 적용 안 됨. */
/* 클릭하지 않은 링크 텍스트 표시 */
a:link { 
	color: black; 
	text-decoration: none; 
}

/* 방문했던 곳 표시 */
a:visited { 
	color: black; 
	text-decoration: none; 
}

/* 링크를 클릭하려고 마우스를 가져갔을 때 텍스트 표시 */
a:hover { 
	color: #5D5D5D; 
	text-decoration: none; 
}

/* 로그인 부분 담을 div */
.login-wrapper {
	width: 1280px; /* 선 굵기 차감 */
	margin: 10px auto;
	text-align: right;
}

header {
	width: 1274px; /* 선 굵기 차감 */
	border: 3px double black;
}

/* 타이틀 Lee Haeuk 텍스트 */
.title-myname { 
	display: inline-block;
	font-size: 32px;
	font-family: '맑은 고딕';
	font-weight: bold;
	color: black;
	text-align: left;
	margin: 30px;
}

/* 메뉴바 담는 틀 */
.menubar-container { 
	text-align: right;
	clear: both;
}

/* ABOUT, WORK, CONTACT 등 메뉴바 내용물 텍스트 */
.menubar-content { 
	display: inline-block; /* 메뉴바 일렬로 나열하고 각 항목들 간격 조정하기 위해서 */
	font-size: 32px; 
	font-family: '맑은 고딕';
	font-weight: bold;
	margin: 0 40px;
}

section {
	width: 1274px; /* 선 굵기 차감 */
	margin: 10px auto;
	border: 3px double #B2CCFF;
}

footer {
	clear: both;
	width: 1274px; /* 선 굵기 차감 */
	font-size: 16px;
	font-family: '맑은 고딕';
	font-weight: bold;
	color: black;
	text-align: right;
	border: 3px double black;
}

/* 폰트 설정 적용값 */
.custum-text {
	text-align: center;
	font-size: 32px;
	font-family: '맑은 고딕';
	font-weight: bold;
	color: #A6A6A6;
}